# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Base de données
DATABASE_URL="postgresql://postgres:password@localhost:5432/btpc?schema=public"

# JWT
JWT_SECRET="your_secure_jwt_secret"
JWT_EXPIRATION="24h"

# App
PORT=8080
NODE_ENV=development

# AWS S3 Configuration
AWS_REGION="eu-west-1"
AWS_ACCESS_KEY_ID="your_aws_access_key_id"
AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key"
AWS_S3_BUCKET="your-s3-bucket-name"

# OPENAI
OPENAI_API_KEY="your_openai_api_key"

# GOOGLE
GOOGLE_GENERATIVE_AI_API_KEY="your_google_generative_ai_api_key"

# REDIS (pour BullMQ)
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=""

# N8N Webhook
N8N_WEBHOOK_URL="https://your-n8n-instance.com/webhook/"

# Database Connection Pool
DATABASE_CONNECTION_TIMEOUT="120"
# Postgresql database max connections is 81. We limit it to 64 to avoid connection issues. Change it to keep 80% of max connections of your database.
DATABASE_CONNECTION_POOL_SIZE="64"

# We reserve 20% of the connections for basic CRUD operations
RESERVED_CONNECTIONS_PERCENTAGE="20"
# We use 80% maximum of the connections for indexation
MAX_INDEXATION_CONNECTIONS_PERCENTAGE="80"

# Maximum number of concurrent tasks for deliverables
MAXIMUM_DELIVERABLES_CONCURRENT_TASKS="5"